.project-div {
  padding-top: 80px;
}
.project-list-div {
  /* background-color: #2bae66ff;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px; */
}
.project-bar-bg {
  background-color: #2bae66ff;
  height: 440px;
  margin-top: 120px;
}
.project-inner-container {
  background-color: #00000040;
  border-radius: 5px;
  color: whitesmoke;
  backdrop-filter: blur(5px);
  padding-top: 40px;
  padding-bottom: 50px;
  max-width: 1330px;
}
.project-inner-container img {
  width: 40%;
  height: 25%;
  object-fit: scale-down;
  min-width: 243.375px;
  min-height: 129.5px;
  max-width: 532px;
  max-height: 129.5px;
}
.project-information-div {
  width: 70%;
  margin: auto;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .project-inner-container {
    overflow: scroll;
    max-height: 387px;
  }
  .project-div {
    display: flex;
    overflow: scroll;
  }
}
