@import "../../App.css";

.container-nav {
  position: fixed;
  width: 100vw;
  z-index: 2;
  background-color: transparent;
}
.container-nav.active {
  background-color: #2b7a78f0;
}
.nav-items {
  list-style-type: none;
  float: right;
  display: flex;
  margin-right: 50px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}
.item-list {
  margin-right: 25px;
  text-decoration: none;
  color: var(--bgColor);
  padding: 0.5rem 1rem;
}
.item-list:hover {
  background-color: var(--bgColor);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  color: var(--fgColor);
}
.item-list.active {
  background-color: var(--bgColor);
  border-radius: 4px;
  color: var(--fgColor);
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .container-nav {
    position: absolute;
    overflow: hidden;
    height: 210px;
  }
  .nav-items {
    top: 63px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    position: absolute;
    left: 100%;
    padding: 0;
    opacity: 1;
    transition: all 0.5s ease-out;
  }
  .nav-items.active {
    background-color: #70d287;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-out;
    z-index: 1;
  }
  .item-list {
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    display: table;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
